/* * {
  background-color: cyan;
} */

body {
  background-color: #f1faee;
}

button {
  font-size: 30px;
  background-color: #a8dadc;
}

h1,
h2 {
  color: #1d3557;
}

span {
  color: #457b9d;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

/* I need to change the links style that are in a section that have class post */
.post a {
  color: yellow;
  background-color: yellowgreen;
  font-weight: 700;
  text-decoration: none;
}

/* This is wrong bcs, I don't want to change all the links */
/* a {
  color: yellow;
  background-color: yellowgreen;
  font-weight: 700;
  text-decoration: none;
} */

/* adjacent selector : select only the paragraphs
that are immediately preceded by and <h1>*/
h1 + p {
  color: red;
}

/* direct child : select only the <li>'s that are
direct children of a <div> element*/
.list > li {
  background-color: rgb(127, 127, 163);
}

/* Attribute selector : select all input elements
where the type attribute is set to "text" */
input[type="text"] {
  width: 100px;
  color: magenta;
}

/* PSEUDO CLASSES https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes : keyword add to a selector
that specifies a special state of the selected elements */

/* :active, :checked, :first, :first-child  */

a:visited {
  color: magenta;
}

#signup:hover {
  cursor: grab;
  background-color: #586280;
}

/* PSEUDO ElEMENTS : keyword added to a selector
that lets you style a particular part of selected 
elements ::after  ::before ::first-letter
https://developer.mozilla.org/en-US/docs/web/css/content
*/

footer a {
  color: #e63946;
}

h2 + button {
  font-size: 20px;
}

footer > a {
  color: #457b9d;
}

input[type="password"] {
  color: greenyellow;
}

a[href*="google"] {
  color: #1d3557;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: #02c39a;
}

.post:nth-of-type(2n) {
  font-size: 20px;
}

h2::first-letter {
  font-size: 50px;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: #fcb449;
}

.post button:hover {
  background-color: olive;
}

h4 {
  color: red;
}
h4 {
  color: purple;
}
/* Purple wins */

#h4Link {
}

.h4class {
}

p {
  color: yellow;
}

section p {
  color: maroon;
} /* this one wins */

/* ID > CLASS > ELEMENT */
