h1 {
  text-align: center;
  font-weight: 200;
  text-decoration: #f78920 underline dotted; /*adding underline with color for the text */
  letter-spacing: 15px;
  font-size: 80px;
  font-family: monospace;
}

a {
  text-decoration: underline;
}

p {
  font-family: sans-serif;
  line-height: 2;
}
