h1 {
  /* selector */
  color: gold; /* property : value */
  font-size: 80px;
}

img {
  width: 600px;
  height: auto;
}

/* Fancier */
input[type="text"] :nth-of-type(2n) {
  border: 2px solid red;
}

h2 {
  color: #d36c6c;
  background-color: rgb(50, 82, 124);
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  /* background: rgb(228, 161, 37); */
  background-color: rgb(37, 224, 115);
}
