/* DO NOT TOUCH THIS FILE!!!  */
.square {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
}
/* DO NOT TOUCH THIS FILE!!!  */

/* THIS CODE WILL MAKE SENSE ONCE WE COVER FLEXBOX!  */
#board {
  display: flex;
  margin: 0 auto;
  width: 500px;
  flex-wrap: wrap;
}
/* DO NOT TOUCH THIS FILE!!!  */

/* WRITE YOUR CODE IN HERE!!!!  */
.square:nth-of-type(2n) {
  background-color: black;
}
.square:nth-of-type(2n + 1) {
  background-color: red;
}
