#container {
  background-color: #003049;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#container div {
  width: 100px; /*flex-basis */
  height: 100px;
  text-align: center;
}

div:nth-of-type(1) {
  flex-grow: 1;
  flex-shrink: 2;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: #6930c3;
  flex: 1 2 300px;
}

main .maincontent {
  background-color: #80ffdb;
  flex: 2 1 800px;
}
