body {
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: purple;
  }
}

@media (max-width: 600px) {
  h1 {
    color: yellow;
  }
}

@media (max-width: 760px) {
  nav,
  nav ul {
    flex-direction: column;
    align-items: start;
  }
}
