body {
  margin: 0;
}

div {
  width: 200px;
  height: 200px;
}

span {
  margin-left: 30px;
  margin-top: 30px;
}

h1 {
  background-color: pink;
  width: 200px;
  padding-left: 100px;
  padding-top: 50px;
  margin: 0;
}

#one {
  background-color: antiquewhite;
  /* border-width: 5px;
  border-color: black;
  border-style: solid; */
  border: 5px solid black;
  margin-left: 50px;
  margin-bottom: 100px;
}

#two {
  background-color: rgb(27, 168, 34);
  /* border-width: 5px;
  border-color: black;
  border-style: solid; */
  border: 5px solid black;
  margin-left: 50px;
  margin-bottom: 100px;
}

#three {
  background-color: rgb(175, 29, 168);
  /* border-width: 5px;
  border-color: black;
  border-style: solid; */
  border: 5px solid rgb(124, 15, 15);
  margin-left: 50px;
  margin-bottom: 100px;
  border-left-style: dotted;
  border-radius: 50px;
}

button {
  padding: 10px 20px 30px 40px;
  margin: 20px 10px;
}
